extends layout

block content
  div
    h1 Zabo Quickstart App
    p Welcome to the Zabo Quickstart App!
    p First let's connect a wallet by clicking the connect button below
    button(id='connect') Connect

  div(class='start-hidden' id='after-connect')
    p Nice! You have connected a wallet with the following balances:
    div(id='balances')
    p We also created a new user with Zabo and attached this account. This user now has the following accounts connected:
    div(id='accounts')
    p Choose from the following options:
    div
      div(class='action-selector' id='get-account-transactions')
        p Get Transactions
      div(class='action-selector' id='add-account')
        p Attach another account
      div(class='action-selector' id='send-crypto')
        p Send crypto to a wallet
    div(class='start-hidden' id='crypto-form-holder')
      form(name='send-crypto')
        p(class='input-label') Select a currency
        div
          input(type='radio' id='crypto1' name='currency' value='BTC')
          label(for='crypto1') Bitcoin
          input(type='radio' id='crypto2' name='currency' value='ETH')
          label(for='crypto2') Ether
        p(class='input-label') To address, specify a testnet address
        div
          input(type='text' id='toAddress' name='toAddress')
        small Use an address that you own so you can send it to your 'Send Back Address' when your done. Testnet funds are limited. You can find your 'Send Back Address' in the Zabo dashboard.
        p(class='input-label') Amount to send
        div
          input(type='text' id='amount' name='amount')
        p Now it's time to send!
        div
          button(type='submit') Send Crypto
    div(class='start-hidden' id='transactions')
      p Neato! Here are the transactions for the account you just connected:
      div(id='list-transactions')
    div(class='start-hidden' id='added-new-account')
      p Great! You added a new account to the user. The account providers for this user are now:
      div(id='list-account-providers')
    div(class='start-hidden' id='sent-crypto')
      p Perfect! You just sent cryptocurrency using Zabo. 
