extends layout

block content
  h1= title
  hr
  section#init
    button#connect Connect

  section#connected

  section#data
  section#error

  script.
    window.ZABO_CLIENT_ID = '#{clientId}'

  script(src='scripts/script.js')
