doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.zabo.com/latest/zabo.js')
  body
    block content
    script(src='/js/zabo.js')
    script(src='/js/zabo-client-code.js')
