body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  margin-top: 32px;
}

button {
  padding: 16px;
  color: #FFFFFF;
  background: #5C6FEA;
}

pre {
  padding: 16px;
  margin-bottom: 32px;
  background: #ECEBEB;
  max-height: 200px;
  overflow: auto;
}
