body {
  padding: 24px 48px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  display: block;
}

button {
  padding: 16px;
  border: 1px solid white;
  background: #5C6FEA;
  color: white;
  border-radius: 5px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
tr {
  border-bottom: 1px solid #eae9e9;
}
th, td {
  padding: 8px 16px;
}

h1, h2, h3, h4 {
  margin: 16px 0 0;
  color: #333;
}

section {
  margin: 32px 0;
}

[hidden] {
  display: none;
}